
@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway&display=swap');

html {
  font-size: $font-size-base;
  line-height: $line-height-base;

  @include lg() {
    font-size: 15px;
  }

  @include xl() {
    font-size: 16px;
  }

  color: $text-color;
}

a {
  color: $link-color;
  font-family: $font-family-base;
  line-height: $line-height-base;
  text-decoration: $link-decoration;
  transition: .3s;
  cursor: pointer;

  // &:not([class^="tab"]):not([class^="button"]):hover {
  //   color: $link-hover-color;
  // }
}

h1, .h1 {
  font-size: $font-size-h1;
  line-height: 110%;
  margin: ($font-size-h1 / 1.5) 0 ($font-size-h1 / 2.5) 0;
}

h2, .h2 {
  font-size: $font-size-h2;
  line-height: 110%;
  margin: ($font-size-h2 / 1.5) 0 ($font-size-h2 / 2.5) 0;
}

h3, .h3 {
  font-size: $font-size-h3;
  line-height: 110%;
  margin: ($font-size-h3 / 1.5) 0 ($font-size-h3 / 2.5) 0;
}

h4, .h4 {
  font-size: $font-size-h4;
  line-height: 110%;
  margin: ($font-size-h4 / 1.5) 0 ($font-size-h4 / 2.5) 0;
}

h5, .h5 {
  font-size: $font-size-h5;
  line-height: 110%;
  margin: ($font-size-h5 / 1.5) 0 ($font-size-h5 / 2.5) 0;
}

h6, .h6 {
  font-size: $font-size-h6;
  line-height: 110%;
  margin: ($font-size-h6 / 1.5) 0 ($font-size-h6 / 2.5) 0;
}

h1,
h2,
h3 {
  line-height: $line-height-base;
  user-select: none;
  font-family: $font-family-headings;
  width: 100%;

  small,
  .small {
    font-weight: normal;
    line-height: 1;
    color: lighten($secondary, 20);
    margin-left: 10px;
  }
}

h4,
h5,
h6 {
  line-height: $line-height-base;
  user-select: none;
  font-weight: 400;
  font-family: $font-family-headings;
  width: 100%;

  small,
  .small {
    font-weight: normal;
    line-height: 1;
    color: lighten($secondary, 20);
    margin-left: 10px;
  }
}

p {
  color: $text-color;
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  margin: 1em 0;
  user-select: none;

  &.feature {
    font-size: $font-size-base * 1.2;
  }
}

blockquote {
  font-size: $font-size-base * 1.2;
  color: $text-color;
  padding: 10px 0 10px 25px;
  border-left: 5px solid $primary;
  margin: 15px 0 15px 0;
}

.text-center {
  text-align: center;
}

.icon {
  user-select: none;
}