// Badges

$badge-color:                 $white !default;

//** Linked badge text color on hover
$badge-link-hover-color:      $white !default;
$badge-bg-default:            $dark-gray !default;

//** Badge text color in active nav link
$badge-active-color:          $link-color !default;

//** Badge background color in active nav link
$badge-active-bg:             $primary !default;

$badge-font-weight:           bold !default;
$badge-line-height:           1 !default;
$badge-border-radius:         10px !default;

$badge-padding:               5px 12px;
$badge-padding-extra:         7px 15px;  
