$card-padding: 24px !default;
$card-title-font-family: $font-family-sans-serif;
$card-title-font-size: 1.7em;
$card-bg-color: #fff !default;
$card-link-color: $accent !default;
$card-link-color-light: lighten($card-link-color, 20%) !default;