/* -- Font -- */

$font-size-base: 14px;

$font-size-h1: floor(($font-size-base * 2.6));
$font-size-h2: floor(($font-size-base * 2.15));
$font-size-h3: ceil(($font-size-base * 1.7));
$font-size-h4: ceil(($font-size-base * 1.5));
$font-size-h5: ceil(($font-size-base * 1.25));
$font-size-h6: $font-size-base;

$line-height-base: 1.428571429 !default;
$line-height-computed: floor(($font-size-base * $line-height-base));

$font-family-sans-serif:  'Raleway', Helvetica, Arial, sans-serif !default;
$font-family-serif:       Georgia, "Times New Roman", Times, serif !default;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace !default;
$font-family-base:        $font-family-sans-serif !default;
$font-family-headings:        'Montserrat' !default;

$link-color: $primary !default;
$link-decoration: underline !default;
$link-hover-color: darken($link-color, 15%) !default;
$link-hover-decoration: underline !default;

$text-color: #756b61;
